.title-text {
    overflow:hidden;
}

.height-min {
    height: 30px;
}

._btntimer {
    width: 100px;
}

._issues {
    border: 1px solid #ddd;

}

._total {
    /* font-weight: 400;
    color: red; */
    /* background-color: #ddd; */
}