@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background-color: #f6f8fa;
    padding: 0;
    margin: 0;
    border: none;
    overflow-x: hidden;
    height: 100vh;
}

button {
    display: block;
}

#root {
    display: flex;    
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: content-box;
    max-width:100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    height: 3rem;
    background: #0c4a6e;
    padding: 10px;
    align-items: center;
    width: 100%;
    
}

/* ml-10 hover:text-blue-300 hover:border-b-2 hover:border-solid hover:border-blue-300 active:border-b-2 active:border-solid active:border-blue-300 */
.menu-link {
    display: flex;
    font-size: 1.4rem;
    color: white;
    margin: 0 5rem;
    /* padding: 4px; */
    /* border-radius: 10px; */
    text-decoration: underline;
    cursor: pointer;

}

.contaner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 80vw;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 40px;
    background: #888;
    /* width: 1000px; */
}

/* flex flex-row items-center mx-2 w-32 h-8 bg-blue-700 border-blue-800 text-white border px-2 rounded-md */
.button-refresh {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 5px;
    width: 140px;
    height: 32px;
}

.icon {
    /* width: 10px; */
    height: 20px;
    margin-right: 5px;
}

.contaner-issue {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    height: 100vh;
    width: 80vw;    
}

.issue-contaner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    flex-wrap: wrap;
    margin-bottom: 3px;
}
.issue-block {
    display: flex;
    flex-direction: row;
    flex-grow: 5;
    background: green;
    flex-wrap: wrap;
    flex-basis: 70%;
  

}

.isuue {
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.timer-block {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background: red;

}

.issue-link {
    /* display: inline-block; */

}

.label {
    display: flex;
    height: 20px;
}

.total {
    display: flex;
    height: 30px;
}

.total-text {
    flex-grow: 5;
    flex-basis: 70%;
}

.total-time {
    flex-grow: 1;
}